.slider h1 > input[type=text] {
  border: none;
  box-shadow: none;
  background: none;
  text-align: right;
}

.slider h2 {
  color: white;
}

.Modern-Slider .item-1 .image {
    background-image: url(../img/wood-plank.jpg);
}
.Modern-Slider .item-2 .image {
    background-image: url(../img/carpet-1.jpg);
}
.Modern-Slider .item-3 .image {
    background-image: url(../img/luxury-vinyl.jpg);
}
.Modern-Slider .item-4 .image {
    background-image: url(../img/flatweave.jpg);
}
.Modern-Slider .item-5 .image {
    background-image: url(../img/wood-herringbone-1.jpg);
}

.sidebar-navigation {
  background: rgba(162,25,41,0.9);
}

.sidebar-navigation .logo a {
  border: none;
}

.sidebar-navigation .logo {
  position: static;
  background: none;
  height: auto;
}

.sidebar-navigation nav {
  top: 30%;
}

.section-heading em {
  color: #a21929;
}

#featured .item .image .featured-button a {
  background-color: #a21929;
}

#featured .owl-nav span:hover {
    background-color: #a21929;
}

#featured .owl-dots .active span {
    background-color: #a21929!important;
}

#contact-content > div.white-button.button.book-survey > a {
  margin-top: 40px;
  color: #a21929;
}

#contact-content > div.white-button.button.book-survey > a:hover {
  color: white;
  background: #a21929;
}
