.slider h1 > input[type=text] {
  border: none;
  box-shadow: none;
  background: none;
  text-align: right;
}

.slider h2 {
  color: white;
}

.Modern-Slider .item-1 .image {
    background-image: url(../img/img_2079.2560x0.f315u.jpg);
}

.sidebar-navigation {
  background: rgba(162,25,41,0.9);
}

.sidebar-navigation .logo a {
  border: none;
}

.sidebar-navigation .logo {
  position: static;
  background: none;
  height: auto;
}

.sidebar-navigation nav {
  top: 30%;
}

.section-heading em {
  color: #a21929;
}

#featured .item .image .featured-button a {
  background-color: #a21929;
}

#featured .owl-dots .active span {
    background-color: #a21929!important;
}
