
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  margin-top: 20px;
}

.welcome h1 {
  text-align: center;
}

.welcome input {
    font-size: 6rem;
    height: 8rem;
    border: none;
    box-shadow: none;
    text-align: center;
    background: none;
}
